/* CSS Document */
DIV.calendar
{
    POSITION: relative
}
.calendar
{
    BORDER-RIGHT: rgba(25, 199, 255, 0.90) 1px solid;
    BORDER-TOP: rgba(25, 199, 255, 0.90)1px solid;
    FONT-SIZE: 11px;
    BACKGROUND: rgba(25, 199, 255, 0.90);
    BORDER-LEFT: rgba(25, 199, 255, 0.90) 1px solid;
    CURSOR: default;
    COLOR: rgba(25, 199, 255, 0.90);
    BORDER-BOTTOM: rgba(25, 199, 255, 0.90) 1px solid;
    FONT-FAMILY: tahoma,verdana,sans-serif
}
.calendar TABLE
{
    BORDER-RIGHT: #ffffff 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    FONT-SIZE: 11px;
 BACKGROUND: #ffffff;
    BORDER-LEFT: #ffffff 1px solid;
    CURSOR: default;
    COLOR: #ffffff;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-FAMILY: tahoma,verdana,sans-serif
}
.calendar .button
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 90%;
    BACKGROUND: rgba( 0, 125, 232, 0.97) ;
    PADDING-BOTTOM: 2px;
    COLOR: #fff;
    PADDING-TOP: 2px;
    TEXT-ALIGN: center
}
.calendar .nav
{
    BACKGROUND: url(menuarrow.gif) rgba(25, 199, 255, 0.90) no-repeat 100% 100%
}
.calendar THEAD .title
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    BACKGROUND: rgba( 0, 125, 232, 0.97) ;
    PADDING-BOTTOM: 2px;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    TEXT-ALIGN: center
}
.calendar THEAD .headrow
{
    BACKGROUND: rgba( 0, 125, 232, 0.97) ;
}
.calendar THEAD .name
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    COLOR: rgba( 0, 125, 232, 0.97) ;
    PADDING-TOP: 2px;
  BORDER-BOTTOM: #ffffff 1px solid;
    TEXT-ALIGN: center
}
.calendar THEAD .weekend
{
    COLOR: rgba( 0, 125, 232, 0.97) ;
}
.calendar THEAD .hilite
{
    BORDER-RIGHT: rgba(25, 199, 255, 0.90) 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: rgba(25, 199, 255, 0.90) 1px solid;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: rgba(25, 199, 255, 0.90) 1px solid;
    COLOR: #000;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: rgba(25, 199, 255, 0.90) 1px solid;
    BACKGROUND-COLOR: #fff
}
.calendar THEAD .active
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: rgba(25, 199, 255, 0.90);
}
.calendar THEAD .daynames
{
    BACKGROUND: rgba(25, 199, 255, 0.90);
}
.calendar TBODY .day
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    WIDTH: 4em;
    height: 4em;
    COLOR: rgba( 0, 125, 232, 0.97);
    PADDING-TOP: 2px;
    TEXT-ALIGN: center;
}
.calendar TBODY .othermonth
{
    FONT-SIZE: 80%;
    COLOR: rgba( 0, 125, 232, 0.97);
}
.calendar TBODY .oweekend
{
    COLOR: rgba( 0, 125, 232, 0.97);
}
.calendar TABLE .wn
{
    BORDER-RIGHT: #fff 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 2px;
    BACKGROUND: rgba(25, 199, 255, 0.90);
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px
}
.calendar TBODY .rowhilite TD
{
    BACKGROUND: #dfd
}
.calendar TBODY .rowhilite TD.wn
{
    BACKGROUND:  #dfd
}
.calendar TBODY TD.hilite
{
    BORDER-RIGHT:  rgba( 0, 125, 232, 0.97)  1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: rgba( 0, 125, 232, 0.97)  1px solid;
 PADDING-LEFT: 1px;
    BACKGROUND: rgba( 0, 125, 232, 0.97) ;
    COLOR:#fff;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: rgba( 0, 125, 232, 0.97)  1px solid;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: rgba( 0, 125, 232, 0.97)  1px solid
}
.calendar TBODY TD.active
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    BACKGROUND: #dec;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 2px
}
.calendar TBODY TD.selected
{
    BORDER-RIGHT: rgba(25, 199, 255, 0.90)1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP:rgba(25, 199, 255, 0.90) 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    BACKGROUND: rgba( 0, 125, 232, 0.97) 
  PADDING-BOTTOM: 1px;
    BORDER-LEFT: rgba(25, 199, 255, 0.90) 1px solid;
    COLOR:  #fff;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: rgba(25, 199, 255, 0.90) 1px solid;
    BACKGROUND:rgba( 0, 125, 232, 0.97) ;
}
.calendar TBODY TD.weekend
{
    COLOR: rgba(25, 199, 255, 0.90)
}
.calendar TBODY TD.today
{
    FONT-WEIGHT: bold;
    font-size: 12.5px;
     
    COLOR:  rgba(25, 199, 255, 0.90)
}
.calendar TBODY .disabled
{
    COLOR: rgba( 0, 125, 232, 0.97)
}
.calendar TBODY .emptycell
{
    VISIBILITY: hidden
}
.calendar TBODY .emptyrow
{
    DISPLAY: none
}
.calendar TFOOT .footrow
{
    BACKGROUND: rgba(25, 199, 255, 0.90);
    COLOR: rgba(25, 199, 255, 0.90);
    TEXT-ALIGN: center
}
.calendar TFOOT .ttip
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    BACKGROUND: rgba( 0, 125, 232, 0.97);
    PADDING-BOTTOM: 2px;
    COLOR: #fff;
    PADDING-TOP: 2px
}
.calendar TFOOT .hilite
{
    BORDER-RIGHT: rgba( 0, 125, 232, 0.97) 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: rgba( 0, 125, 232, 0.97) 1px solid;
    PADDING-LEFT: 1px;
    BACKGROUND: rgba( 0, 125, 232, 0.97);
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: rgba( 0, 125, 232, 0.97)1px solid;
    COLOR: rgba( 0, 125, 232, 0.97);
    PADDING-TOP: 1px;
    BORDER-BOTTOM: rgba( 0, 125, 232, 0.97) 1px solid
}
.calendar TFOOT .active
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 2px;
    BACKGROUND: rgba( 0, 125, 232, 0.97);
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 2px
}
.calendar .combo
{
    BORDER-RIGHT: rgba( 0, 125, 232, 0.97) 1px solid;
    BORDER-TOP: #565 1px solid;
    DISPLAY: none;
    FONT-SIZE: 90%;
    Z-INDEX: 100;
    BACKGROUND: #efd;
    LEFT: 0px;
    BORDER-LEFT: #565 1px solid;
    WIDTH: 4em;
    CURSOR: default;
    COLOR: rgba( 0, 125, 232, 0.97);
    BORDER-BOTTOM: #565 1px solid;
    POSITION: absolute;
    TOP: 0px
}
.calendar .combo .label
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center
}
.calendar .combo .label-IEfix
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center
}
.calendar .combo .label-IEfix
{
    WIDTH: 4em
}
.calendar .combo .hilite
{
    BACKGROUND: rgba( 0, 125, 232, 0.97);
}
.calendar .combo .active
{
    BORDER-TOP: rgba( 0, 125, 232, 0.97) 1px solid;
    FONT-WEIGHT: bold;
    BACKGROUND: rgba( 0, 125, 232, 0.97);
    BORDER-BOTTOM: #6a4 1px solid
}
.calendar TD.time
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #8a8 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    BACKGROUND-COLOR: rgba( 0, 125, 232, 0.97);
    TEXT-ALIGN: center
}
.calendar TD.time .hour
{
    BORDER-RIGHT: #898 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #898 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #898 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #898 1px solid;
    BACKGROUND-COLOR: rgba( 0, 125, 232, 0.97)
}
.calendar TD.time .minute
{
    BORDER-RIGHT: #898 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #898 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #898 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #898 1px solid;
    BACKGROUND-COLOR: rgba( 0, 125, 232, 0.97)
}
.calendar TD.time .ampm
{
    BORDER-RIGHT: #898 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #898 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #898 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #898 1px solid;
    BACKGROUND-COLOR: rgba( 0, 125, 232, 0.97)
}
.calendar TD.time .ampm
{
    TEXT-ALIGN: center
}
.calendar TD.time .colon
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
.calendar TD.time SPAN.hilite
{
    BORDER-LEFT-COLOR: #000;
    BORDER-BOTTOM-COLOR: #000;
    COLOR: #fff;
    BORDER-TOP-COLOR: #000;
    BACKGROUND-COLOR: rgba( 0, 125, 232, 0.97);
    BORDER-RIGHT-COLOR: #000
}
.calendar TD.time SPAN.active
{
    BORDER-LEFT-COLOR: #f00;
    BORDER-BOTTOM-COLOR: #f00;
    COLOR: #0f0;
    BORDER-TOP-COLOR: #f00;
    BACKGROUND-COLOR:rgba( 0, 125, 232, 0.97);
    BORDER-RIGHT-COLOR: #f00
}
